// img {
//   height: 200px;
//   width: 300px;
//   object-fit: cover;
// }

// ------------ card spacing -----------

.card-margin-spacing {
  margin: 20px auto
}

// ---------- utils -------------------
.no-border {
  border: 0px !important;
  box-shadow: none !important
}

.fixed-column {
  position: fixed !important;
}

.center-things {
  text-align: center;
}

.sm-margin {
  margin-right: 20px;
}

.vertical-center {
  position: relative;
  margin: auto;
}

//---------- img sizing --------------

.our-profile-imgs {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

//--------- us page --------------

#top-filler-space {
  margin-top: 100px
}

#penpal-column {
  height: 100%;
  text-align: center
}

#penpal-message {
  position: fixed;
  bottom: 50px
}

#penpal-message-text{
  position: relative;
  margin: auto;
  padding: 30% 0 55% 0;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  font-weight: bold;
  max-width: 160px;
  word-break: break-word

}

#penpal-message-background{
  position: fixed;
  background: url('./assets/bubble.gif') no-repeat;
  min-width: 200px;
  min-height: 150px;
  width: auto;
  height: auto;
  background-position: center;
  background-size: cover;
  animation: popout 0.25s ease;
  transform-origin: bottom right;
}

@keyframes popout {
  from {
    transform:scale(0);

  }
  to {
    transform:scale(1)
  }
}


//----------- lighting -------------
.overlay-gradient {
  position:fixed;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-image:
    radial-gradient(
      ellipse farthest-side at bottom right,
      rgb(185, 124,	0),
      rgb(233, 207,	56) 35%,
      rgb(208,	246,	202	) 70%,
      transparent
    ),
    radial-gradient(
      ellipse farthest-side at bottom,
      rgb(233, 207,	56),
      transparent 
    );
  animation: fadin 5s ;
}

@keyframes fadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5
  }
}
